* {
    padding: 0;
    margin: 0;
    font-weight: bold;
    max-width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
body {
    background-color: #9470db6c;
    color: #ffffff;
    font-size: large; 
    
}
 
.backcadastro {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/31/772/43/stones-orchid-pink-flowers-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 80vw;
    margin: 10px;
    margin-top: 3vw;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
    padding: 30px;
}
.formCadastro{
    padding: 20px;
    border-radius: 10px;
    background-color: #ad94e0;
    opacity: 1;
    max-width: 100%;
}

.backInput {
    background-color: #c8b6c396;
}
 
.btcadastro {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 2%;
}
 
.bt {
    background-color: #ad94e0;
    border-color: #C8B6C3;
    font-size: 20px;
}
 
.bt:hover {
    background-color: #8961d3;
    border-color: #C8B6C3;
}
 
.center {
    align-items: center;
    text-align: center;
    align-content: center;
}
 
.nome {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #7e6376;
}
 
.conta{
    color: #ffffff;
    font-weight: bold;
    a{
        color: #ffffff;
    }
    a:hover{
        color: #e7b0d7;
    }
}