@import url('color_pallete.css');

:root {
  font-family: system-ui;
  --accent-color: var(--cor-5);
  --background-color: #ebebeb;
  --foreground-color: #222222;
}

* {
  box-sizing: border-box;
}

.outer-wrapper {
  background-color: var(--cor-1);
  color: var(--foreground-color);
}

.wrapper {
  max-width: 60rem;
  margin-inline: auto;
}

.image {
  background-size: cover;
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  background-color: var(--cor-3);
  border-radius: 15px;
}

.content-item {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 5px;

  >.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
    margin-inline: 10px;
    font-size: 1.1rem;

    >input {
      background-color: var(--accent-color);
      color: white;
      border-width: 0px;
      border-radius: 10px;
      padding: .5rem;
      font-weight: 650;
    }
  }
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222222;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/bazar-cattleya.appspot.com/o/Cattleya_trianae.jpg?alt=media&token=eb647f2c-1c50-4923-aeca-6b017e0eb420);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}

.ads {
  color: white;
}

.ads span {
  color: var(--cor-5);
  font-weight: bolder;
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% { color: #ff69b4; }   /* Rosa claro */
  20% { color: #ff1493; }  /* Rosa profundo */
  40% { color: #c71585; }  /* Rosa escuro */
  60% { color: #9370db; }  /* Roxo médio claro */
  80% { color: #ba55d3; }  /* Roxo claro */
  100% { color: #ff69b4; } /* Volta ao rosa claro */
}

/* mobile settings */
@media screen and (max-width: 767px) {
  .ads{
    font-size: x-large;
  }
}