* {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
body {
    background-color: #9470db6b;
    color: #C8B6C3;
}
 
.spaceTop {
    padding: 4%;
}
 
.spaceLogin {
    margin: 3%;
}

 
.backLogin {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/355/629/66/flowers-stones-flower-orchid-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 80%;
    margin-top: 3vw;
}
 
.loginBack {
    border-radius: 10px;
    background-color: #bbaed6;
    width: 100%;
    height: 350px;
    padding: 20px;
    color: #ffffff;
}
 
.backInput {
    background-color: #c8b6c385;
}
 
.btLogin {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0%;
}
 
.bt {
    background-color: #C8B6C3;
    border-color: #C8B6C3;
}
 
.bt:hover {
    background-color: #7e6376;
}
 
.center {
    align-items: center;
    text-align: center;
    align-content: center;
}
 
.nome {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* color: #e2abd2; */
    color: #7e6376;
}
.conta{
    color: #ffffff;
    font-weight: bold;
    a{
        color: #ffffff;
    }
    a:hover{
        color: #e7b0d7;
    }
}