@import url('color_pallete.css');

div{
    display: flex;
}

.center{
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.ui{
    background-color: var(--cor-4);
    border-radius: 38px;
    width: 80%;
    height: 80%;
}

.left, .right{
    width: 50%;
    height: 100%;
    color: white;
    padding: 20px;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background-color: white;
}

.right{
    flex-direction: column;
    justify-content: space-between;
}

.data{
    background-color: transparent;
    border: 0 none;
    outline: none;
    font-size: x-large;
    color: white;
    text-align: center;
}

.switch{
    background-color: var(--cor-5);
    color: white;
    padding: 10px;
    border: 0 none;
    border-radius: 18px;
    font-weight: bold;
    transition: 0.5s;
}

.switch:hover{
    background-color: white;
    color: var(--cor-5);
    transition: 0.5s;
}

/* mobile settings */
@media screen and (max-width: 767px) {
    .ui{
        height: 75%;
    }
}





