* {
 
    padding: 0;
    margin: 0;
    font-weight: bold;
}
 
body {
    background-color: #C8B6C3;
    color: #C8B6C3;
 
}
 
.spaceTop {
    padding: 4%;
}
 
.spaceLogin {
    margin: 3%;
}
 
.backh1 {
    background-color: #c09ab7;
 
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    background-image: url("https://img.freepik.com/premium-photo/cattleya-x-whitei-flower-closeup-jena_1048944-10336403.jpg");
    /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F61%2F2f%2Fdc%2F612fdcfa6ed832db10a0336bc476b801.jpg&f=1&nofb=1&ipt=4cb93392eec5e6ab721839b92a5bd3c7c803ae85fe03e6b5f87a6c3c392925b7&ipo=images"); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 5px black;
}
 
.backLogin {
    background-image: url("https://img.freepik.com/premium-photo/cattleya-x-whitei-flower-closeup-jena_1048944-10336403.jpg");
    /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F61%2F2f%2Fdc%2F612fdcfa6ed832db10a0336bc476b801.jpg&f=1&nofb=1&ipt=4cb93392eec5e6ab721839b92a5bd3c7c803ae85fe03e6b5f87a6c3c392925b7&ipo=images"); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 5px black;
}
 
.loginBack {
    width: 100%;
    height: 300px;
}
 
.backInput {
    background-color: #C8B6C3;
}
 
.btLogin {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0%;
}
 
.bt {
    /* background-color: #7e6376; */
    background-color: #C8B6C3;
    border-color: #C8B6C3;
}
 
.bt:hover {
    background-color: #7e6376;
}
 
.center {
    align-items: center;
    text-align: center;
    align-content: center;
}
 
.nome {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* color: #e2abd2; */
    color: #7e6376;
}
